*.gpg
*.log
*.db
*.lock
newsboat/history.cmdline
newsboat/urls
restic/set_env.sh
restic/exclude.txt
restic/include.txt
*.wants
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql
zsh/secrets.zsh
hass-cli.fish
fish_variables
