* {
  border: none;
  font-family: Cantarell;
  font-size: 16px;
}

window#waybar {
  background: #2b2928;
  border-bottom: none;
  color: #e6e6e6;
  padding: 5px;
}

.modules-right {
}

.modules-center {
  font-weight: bold;
}

.modules-left {
  margin: 2px 0 0 5px;
}

#workspaces button {
  border-radius: 5px;
  font-weight: bold;
  margin: 6px 2px;
  padding: 1px 5px;
}

#workspaces button:hover {
  background-color: #474341;
  color: #ededed;
}

#workspaces button.focused {
  background-color: #94ebeb;
  color: #36322f;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-playerctl,
#custom-arch_updates,
#tray,
#mode,
#idle_inhibitor {
  min-width: 30px;
  padding: 0 10px;
}

#clock {
  font-weight: bold;
}

#mode {
  color: #ffad00;
  font-weight: bold;
}

#window{
  margin:0 0 0 20px;
  font-weight:bold;
}

#idle_inhibitor.activated {
  color: #94ebeb;
}

#temperature.critical {
  color: #ffb5b5;
}
