window {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  font-family: Inter;
  font-size: 14pt;
  margin: 0px;
}

#input {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #c0caf5;
  font-size: 20pt;
  margin: 5px 5px 10px 5px;
  padding: 10px 20px;
  border: 1px solid #414868;
}

#input:focus {
  border-color: #a9b1d6;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 10px;
}

#scroll {
}

#text {
  margin: 0px;
}

#entry {
  border-radius: 5px;
  color: #c0caf5;
  padding: 10px 20px;
  margin: 0;
}

#entry:selected {
  color: #414868;
  background-color: #7dcfff;
  border-color: #414868;
}
#text {
  padding-left: 8px;
}
#text:selected {
  color: #414868;
}
