window {
  margin: 0px;
  background-color: #282c34;
  font-family: Inter;
  font-size: 14pt;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #5c6370;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry:selected {
  background-color: #56b6c2;
}
