[Unit]
Description=Mailbox IDLE service
After=network.target

[Service]
ExecStart=goimapnotify -conf .config/imapnotify/config.json

[Install]
WantedBy=default.target
