[Unit]
Description=Restic User Cleanup Timer

[Timer]
WakeSystem=false
OnCalendar=Sun *-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
