* {
  border: none;
  font-family: "MonoLisa Variable";
  font-size: 11px;
  font-weight: 600;
}

window#waybar {
  background: none;
  border-bottom: none;
  color: #c0caf5;
}

.modules-right,
.modules-left {
  background: rgba(26, 27, 38, 0.75);
  padding: 0 15px;
  border-radius: 100px;
}

.modules-right {
  margin-right: 10px;
}

.modules-left {
  margin-left: 10px;
}

#workspaces button
{
  margin: 2px 2px 2px 2px;
  border-radius:0;
  padding:1px 5px;
  color: #c0caf5;
  border: none;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
}

#workspaces button.active, #workspaces button.focused
{
  background-color: rgba(255,255,255,0.2);
  border-radius:15px;
}

#workspaces button.urgent
{
  background-color: #f7768e;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-playerctl,
#custom-arch_updates,
#tray,
#mode,
#mpd,
#idle_inhibitor {
  margin: 0;
  padding: 0;
}

#mode {
  color: #e0af68;
}

#idle_inhibitor.activated {
  color: #9ece6a;
}

#temperature.critical {
  color: #f7768e;
}
