* {
  border: none;
  font-family: "Caskaydia Cove Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background: none;
  border-bottom: none;
  color: #89dceb;
}

.modules-right,
.modules-center,
.modules-left {
  background: rgba(30, 30, 46, 0.6);
  padding: 0 15px;
  border-left: 2px solid #89dceb;
  border-right: 2px solid #89dceb;
  border-bottom: 2px solid #89dceb;
  box-shadow: 0 0 4px #1a1a1aee;
  margin-top: 0;
}

.modules-right {
  border-radius: 0 0 0 10px;
  border-right: 0;
}

.modules-center {
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
}

.modules-left {
  border-radius: 0 0 10px 0;
  border-left: 0;
}

#workspaces button {
  margin: 2px;
  border-radius: 10px;
  border: 2px solid #89dceb;
  padding: 0 5px;
  background: none;
  color: #7dcfff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
}

#workspaces button.active,
#workspaces button.focused {
  background: #89dceb;
  color: #1e1e2e;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-playerctl,
#custom-arch_updates,
#tray,
#mode,
#mpd,
#idle_inhibitor {
  margin: 0;
  padding: 0;
}

#mode {
  color: #fab387;
}

#idle_inhibitor.activated {
  color: #9ece6a;
}

#temperature.critical {
  color: #f38ba8;
}
