[Unit]
Description=Restic User Backup
 
[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/home/%u/.dotfiles/restic/b2_backup.sh
