window {
  font-family: "Nunito Sans";

  margin: 5px;

  color: white;
  background-color: #333;
}

#input {
  font-size: 36px;

  margin: 12px;
  margin-bottom: 12px;
  padding: 12px;

  color: white;
  border: 1px solid #333;
  background-color: #222;
}

#input:focus {
  border: 1px solid #58d1eb;
}

#inner-box {
  margin: 12px;
  padding: 24px;

  background-color: #222;
}

#outer-box {
  padding: 12px 12px 24px 12px;
}

#text {
  font-size: 24px;
}

#text:selected {
  color: #222;
}

#entry:selected {
  font-weight: bold;

  background-color: #58d1eb;
}
